.text-align {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button{
  padding: 5px 19px;
  color: white;
  background-color: rgb(54, 25, 187);
  border: 2px solid white;
  border-radius: 17px;
  cursor: pointer;
 font-weight: 700;
}
.my-1{
  margin: 5px 0;
}
.my-2{
  margin: 26px 0;
}
.text-centre{
  text-align: center;
}